/* Mobile Version */

@media screen and (max-width:1000px) {
    .container {
        width: 75%;
    }

.menu {
    display: none;
    margin: 0;
}

.description {
    width: 100%;
    margin-top: 130%;
}

.titles {
    float: none;
    text-align: center;
}

.foto {
    text-align: left;
    margin-top: 30%;
}

.skills {
    text-align: center;
    margin-left: 10px;
}

